

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource"   style="margin: 20px;">

    <ng-container matColumnDef="proImage">
      <th mat-header-cell *matHeaderCellDef><b> Product Image </b></th>
      <td mat-cell *matCellDef="let element"><img mat-card-image src="{{element.proImage}}" alt="Photo of product" style="height: 75px ;width: 100px;padding: 10px;"> </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="proId">
      <th mat-header-cell *matHeaderCellDef ><b> Product Id </b></th>
      <td mat-cell *matCellDef="let element"> {{element.proId}} </td>
    </ng-container>

    <ng-container matColumnDef="proQuantity">
        <th mat-header-cell *matHeaderCellDef ><b> Product Quantity </b></th>
        <td mat-cell *matCellDef="let element"> {{element.proQuantity}} </td>
      </ng-container>


       <!-- Name Column -->
    <ng-container matColumnDef="proName">
        <th mat-header-cell *matHeaderCellDef > <b>Product Name </b></th>
        <td mat-cell *matCellDef="let element"> {{element.proName}} </td>
      </ng-container>

    <ng-container matColumnDef="Increase_Decrease">
      <th mat-header-cell *matHeaderCellDef><b> Increase/Decrease </b></th>
      <td mat-cell *matCellDef="let element">
        <ul style="list-style-type:none;">
        <li><button mat-button (click)="increaseQuantity(id=2)"><i class="material-icons">keyboard_arrow_up</i></button></li>
        <li><button mat-button><i class="material-icons"> keyboard_arrow_down</i> </button></li>
      </ul>
      </td>
    </ng-container>



    <!-- Weight Column -->
    <ng-container matColumnDef="proPrice">
      <th mat-header-cell *matHeaderCellDef > <b>Product Price</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.proPrice}} </td>
    </ng-container>

    <!-- Symbol Column -->

    <ng-container matColumnDef="proDelete">
      <th mat-header-cell *matHeaderCellDef><b> Remove </b></th>
      <td mat-cell *matCellDef="let element"><button mat-button><i class="material-icons">delete_sweep</i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
