

<h1 style="text-align: center"> Product Detailes</h1>


  <div> 
    <div style="margin-left: 10px; margin-top: 10px" >
          <mat-card class="example-card"  >
          
            <a   style="cursor: pointer;"><img mat-card-image src="{{jasonDataDetailes.proImage}}" alt="Photo of product" style="height: 300px;width: 400px;padding: 0px;"></a>
            <mat-card-content>

              <p style="text-align: center"> <b> Name:{{jasonDataDetailes.proName}}</b></p>
              <p style="text-align: center"> ID : {{jasonDataDetailes.proId}}<span style="margin-left: 25px"> Price:{{jasonDataDetailes.proPrice}}</span></p>
              

            </mat-card-content>
         
          </mat-card>
    </div>
  </div>

