


<h2 style="text-align: center">{{title}}</h2>


<form [formGroup]="signupForm" (ngSubmit)="porductSubmit(signupForm)">
    <div class="example-container">
     
        <mat-form-field hintLabel="Max 5 characters">
          <input matInput #id   formControlName="proId" placeholder="Product Id" ngModel  maxlength="5" pattern="[0-9]{0,5}">
          <mat-hint align="end">{{id.value?.length || 0}}/5</mat-hint>
        </mat-form-field>

        <mat-form-field hintLabel="Max 20 characters">
            <input matInput #input type="text" formControlName="proName"  placeholder="Product Name" maxlength="20">
            <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
          </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Price" type="number" formControlName="proPrice" class="example-right-align">
            <span matPrefix>tk&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

          <mat-form-field >
              <input matInput  type="text" formControlName="proImage" placeholder="Input image url">
            </mat-form-field>
              <!-- <div>
                 <input type="file" name="pic" formControlName="proImage" accept="image/*">
              </div> <br> -->
         
          
            <div class="example-button-row">
            <button mat-stroked-button color="primary" class="submit-button" type="submit"
            [disabled]="signupForm.status !== 'VALID'">Submit</button>
          </div> 
    </div>
  
  </form>