.container{
    height: 50px;
  }
  .item-2{
    background-color: black;
    color: white;
  }
  .btn:hover{
      background-color: yellow;
      color: black;
      transition: 0.3s;
    }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }