<div fxLayout="row">


    <div *ngFor="let key of jasonData; "> 
      <div style="margin-left: 10px; margin-top: 10px" >
            <mat-card class="example-card"  >
            
              <img mat-card-image src="{{key.proImage}}" alt="Photo of product" style="height: 250px">
              <mat-card-content>

                <p style="text-align: center"> <b> Name:{{key.proName}}</b></p>
                <p style="text-align: center"> ID : {{key.proId}}<span style="margin-left: 25px"> Price:{{key.proPrice}}</span></p>
                

              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="addCart(id=key.proId,name=key.proName,image=key.proImage,price=key.proPrice)"><b>Add Cart</b></button>
                <!-- <button mat-button><i class="material-icons">add</i></button>
                <button mat-button><i class="material-icons">remove</i></button> -->

              </mat-card-actions>
            </mat-card>
      </div>
    </div>
</div>




  
